/*Primary Color: #14284b*/
/*Secondary Color: #7badd5*/

h1 {
	font-weight: bolder;
	font-size: 35px;
}

h2 {
	font-weight: bold;

}

h3 {
	font-weight: bold;

}

.tabs a {
	color: white;
}

.is-primary {
	background-color: #14284b !important;
	color: white !important;
}