/*Primary Color: #14284b*/
/*Secondary Color: #7badd5*/

h1 {
	font-weight: bolder;
	font-size: 35px;
}

h2 {
	font-weight: bold;

}

h3 {
	font-weight: bold;

}

.is-primary {
	background-color: #14284b !important;
	color: white !important;
}

/* Black nav links on mobile */
@media screen and (max-width: 1086px) {
	#navGoesHere .tabs li:not(.is-active) a{
		color: black
	}
}

/*White nav links */
.tabs a {
	color: white;

}

.tabs a:hover {
	color: black;
}

.fa img {
	width: 40px;
	height: 40px;
}