.hero-body {
	padding: 0;
}

/*mobile*/
@media screen and (max-width: 700px) {
	.hero-body {
		background-color: blue;
	}

	#hero {
		height: auto;
		width: 100vw;
		max-width: unset;
		transform: translateX(-50vw);
	}
}

/*tablet*/
@media screen and (max-width: 700px) {
	.hero-body {
		background-color: blue;
		max-height: calc(100vh - 52px);
	}

	#hero {
		height: auto;
		width: 100vw;
		max-width: unset;
	}
}

/*desktop*/
@media screen and (max-width: 1100px) {
	#hero {
		height: calc(100vh - 52px);
		width: auto;
		max-width: unset;
	}
}

#hero {
	height: auto;
	filter: brightness(.5) blur(1px);
}

.hero-body {
	overflow: hidden;
	background-color: black;
	height: calc(100vh - 52px);
}

#logo {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
	height: 90vh;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}